# general
*~
*.log
tmp
dump
*.DS_Store

# Scala IDE
.idea
.idea_modules
.settings
.cache*
.project
.classpath
.scala_dependencies
bin

# IntelliJ
spark_scala_ml_examples.iml
metastore_db

# SBT
dist
project/boot
project/project
project/target
project/plugins/target
project/.sbtserver*
project/build.properties
target
.target
.tmpBin
.sbtserver*
